/* css file for the book component */

div.book {
  display: flex;
  color: #bbb;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #282828;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}

p {
  margin: 0;
  padding: 0.5rem;
}
